@mixin  btn (){
    text-decoration:none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    border-radius: $base-border-radius;
width: 25%;
height: 40px;
background-color: rgb(88, 88, 255);

}
.btn{
    @include btn;
}



