@each $key , $val in $colors{
 .text-#{$key}{
    color: $val
 
 }
.bg-#{$key}{
    $background-color: $val
}



 @for $i from 1 through 2{
 .text-#{$key}-light-#{$i}{
    color: mix(black ,$val , $i*3);
  }

  .text-hover-#{$key}-light-#{$i}{
    &:hover{
        color: mix(black ,$val , $i*3);
        border-top: 2px solid blue;
        
    }
}



  .bg-#{$key}-light-#{$i}{
    color: mix(black ,$val , $i*3);
  }

 }

}

